body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
}


.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.equal-size {
    flex: 1;
    padding: 2px;
    box-sizing: border-box;
    min-width: 150px;
}

.fixed-size {
    width: 150px;
    padding: 2px;
    box-sizing: border-box;
}

.fixed-size-wide {
    width: 300px;
    padding: 2px;
    box-sizing: border-box;
}



div.equal-size {
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

div.fixed-size {
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    /* Hide overflow content */
}

select.fixed-size {
    background-color: white;
}

div.fixed-size-wide,
input.fixed-size-wide {
    font-family: monospace;
    font-size: small;

}

button {
    background-color: lightsteelblue;
    transition: background-color 0.3s;
    border-radius: 7px;
}

button:hover {
    background-color: orange;
}

hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid black;
}

.log-area {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    font-family: monospace;
}